.btn {
  @extend %position-relative;
  @extend %display-block;
  text-align: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  img,svg{
    width: 100%;
    height: auto;
  }
}
.main_nav_btn{
  width: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  @include media-breakpoint-up(lg){
    width: 2rem;
  }
}
.nav_open{
  margin: 0;
  height: 100%;
}
