
.main_header{
  @extend %position-fixed;
  @extend %top-0;
  @extend %left-0;
  @extend %right-0;
  margin: .75rem auto auto .75rem;
  width: calc(100% - 1.5rem);
  z-index: 1;
  padding: .875rem;
  border-radius: .75rem;
  max-width: 350px;
  overflow: hidden;



  background-color: #032238;
  @include media-breakpoint-up(lg){
    padding: 1.5rem;
    border-radius: .75rem;
  }
  .main_header_deco{
    @extend %position-absolute;
    fill-rule:evenodd;
    clip-rule:evenodd;
    margin: auto;
    width: 100%;
    pointer-events: none;
    user-select: none;
    &.h_deco_l{
      @extend %left-0;
      @extend %right-auto;
      @extend %bottom-0;
      @extend %top-0;
    }
    &.h_deco_r{
      @extend %right-0;
      @extend %left-auto;
      @extend %bottom-0;
      @extend %top-0;
    }
    &.v_deco_b{
      @extend %bottom-0;
      @extend %top-auto;
      @extend %right-0;
      @extend %left-0;
    }
    &.v_deco_t{
      @extend %top-0;
      @extend %bottom-auto;
      @extend %left-0;
      @extend %right-0;
    }
    &.v_deco_t,&.v_deco_b{
      max-height: .75rem;
      max-width: #{.75rem *(37 / 14) };
    }
    &.h_deco_r,&.h_deco_l{
      max-width: .75rem;
      max-height: #{.75rem *(37/14)};

    }
  }
}

// header_styles
.main_nav_btn{fill:#ffffff;}
.header_logo_color{fill:#C19C49;}
.main_header_deco path{fill:#C19C49;}
