
.main_header{
  @extend %position-fixed;
  @extend %top-0;
  @extend %left-0;
  @extend %right-0;
  margin: .75rem auto auto .75rem;
  width: calc(100% - 1.5rem);
  z-index: 1;
  padding: .875rem;
  border-radius: .75rem;
  max-width: calc(100% - 1.5rem);
  overflow: hidden;
  will-change: background-color;
  transition: background-color 0.4s ease-in-out;

  @include media-breakpoint-up(md){
    margin: .75rem auto 0;
  }
  @include media-breakpoint-up(lg){
    // padding: 1.5rem;
    max-width: 850px;
    border-radius: .75rem;
  }
  .main_logo{
    max-width: 350px;
    margin: 0 auto;
  }
  .main_header_deco{
    @extend %position-absolute;
    fill-rule:evenodd;
    clip-rule:evenodd;
    margin: auto;
    width: 100%;
    pointer-events: none;
    user-select: none;
    will-change: fill;
    transition: fill 0.4s ease-in-out;
    &.h_deco_l{
      @extend %left-0;
      @extend %right-auto;
      @extend %bottom-0;
      @extend %top-0;
    }
    &.h_deco_r{
      @extend %right-0;
      @extend %left-auto;
      @extend %bottom-0;
      @extend %top-0;
    }
    &.v_deco_b{
      @extend %bottom-0;
      @extend %top-auto;
      @extend %right-0;
      @extend %left-0;
    }
    &.v_deco_t{
      @extend %top-0;
      @extend %bottom-auto;
      @extend %left-0;
      @extend %right-0;
    }
    &.v_deco_t,&.v_deco_b{
      max-height: .75rem;
      max-width: #{.75rem *(37 / 14) };
    }
    &.h_deco_r,&.h_deco_l{
      max-width: .75rem;
      max-height: #{.75rem *(37/14)};

    }
  }
}
