.main_slider{
  @extend %position-relative;
  @extend %display-block;
  background-color: color_var('deep_blue');
  margin-bottom: 1rem;
  overflow: hidden;
  @include aspect-ratio(19, 15);
  @include media-breakpoint-up(lg){
    @include aspect-ratio(64, 21);
  }
  .flexslider{
    @extend %position-absolute;
    @extend %margin-auto;
    @extend %trbl-0;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    .flex-viewport{
      height: 100%;
      max-height: 100%;
      .slides{
        height: 100%;
        max-height: 100%;
      }
      li{
        height: 100%;
        max-height: 100%;
        img{
          height: 100%;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .flex-control-nav{
      bottom: .5rem;
    }
    .flex-control-paging li a{
      background-color: color_var('deep_turquiose');
      &.flex-active{
        background-color: color_var('base_green');
      }
    }
  }
  .logo_container{
    @extend %position-absolute;
    @extend %margin-auto;
    @extend %trbl-0;
    @extend %display-flex;
    @extend %align-center;
    @extend %justify-center;
    width: 80vw;
    max-width: 450px;
    pointer-events: none;
    @include media-breakpoint-up(lg){
      width: 40vw;
      max-width: 740px;

    }
    img{
      margin: auto auto 30%;
      @include media-breakpoint-up(md){
        margin: auto auto 40%;
      }
      @include media-breakpoint-up(lg){
        margin: auto auto 10%;
      }
    }
  }
}
.main_content{
  @extend %position-relative;
  margin-bottom: 10vh;
  .sticky_sm{
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
    transform: translateX( calc(100% + .5rem));
    &_wrapper{
      top: calc(2.25rem + .25rem);
      @include media-breakpoint-up(lg){
        top: calc(3rem + .5rem);
      }
      max-width: 1.5rem;
      @include media-breakpoint-up(lg){
        max-width: 2.5rem;
      }
      a{
        @extend %sm_btn;
        margin-bottom: .5rem;
      }
    }
  }
  .mapa{

  }
}
.text_content{
  @extend %position-relative;
  &.index{
    @include media-breakpoint-up(xl){
      padding-top: 7rem;
    }
  }
  h1,h2,h3,h4,h5,h6{
    margin-bottom: .75rem;
    font-weight: bold;
  }
  h1{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){
      font-size: 2rem;
    }

  }
  h2{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){}
  }
  h3{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){}
  }
  h4{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){}
  }
  h5{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){}
  }
  h6{
    font-size: 1.5rem;
    @include media-breakpoint-up(xl){}
  }
  p,li{
    font-size: 1rem;
    line-height: 1.25;
    @include media-breakpoint-up(xl){
      font-size: 1.125rem;
    }
  }
  .mivi_wrapper{
    & + .mivi_wrapper{
      margin-top: 2rem;
    }
    h1{
      &.mision,&.vision{
        @extend %position-relative;
        @extend %display-flex;
        @extend %align-center;
        @extend %justify-center;
        height: 3.5rem;
        margin: 2rem auto 1rem;
        color: color_var('base_green');
        @include media-breakpoint-up(xl){
          margin: 0 auto 1rem;
        }
        &::before{
          @extend %background-no-repeat;
          @extend %background-center;
          @extend %background-contain;
          content: '';
          width: 3.5rem;
          height: 3.5rem;
          margin-right: .5rem;
          // @include media-breakpoint-up(xl){
          //   width: 4.25rem;
          //   height: 4.25rem;
          // }
        }
      }
      &.mision::before{
        background-image: url('../img/index/mision.svg');
      }
      &.vision::before{
        background-image: url('../img/index/vision.svg');
      }
    }
  }
}
.index_bullet_contaier{
  @extend %position-relative;
  @extend %display-block;
  width: 100px;
  max-width: 100px;
  display: block;
  margin: 1rem auto;
  @extend %position-absolute-xl;
  @include media-breakpoint-up(xl){
    right: calc(100% + 1rem);
    top: 0;
    // &
  }
}
.location_module{
  @extend %position-relative;
  @extend %display-block;
  margin-top: 2rem;
  @include media-breakpoint-up(xl){
    margin-top: 3rem;
  }
  h1{
    text-align: center;
    color: color_var('base_green');
  }
  .location_map{
    @extend %position-relative;
    @extend %display-block;
    @include aspect-ratio(5, 3);
    .mapa{
      @extend %position-absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .data-desktop{
      @extend %position-absolute;
      z-index: 1;
      top:1rem;
      left: 1rem;
      max-width: 38%;
    }
  }
}
.members_module{
  max-width: 650px;
  margin: 3rem auto 0;
  h1{
    text-align: center;
    color: color_var('base_green');
  }
  .members_row{
    border-radius: 1rem;
    overflow: hidden;
  }
  .column{
    padding: 0;
  }
  figure{
    figcaption{
      display: none;
    }
  }
}
