:root {
  --c_white: #FFFFFF;
  --c_black: #1c1c1c;
  --c_light_grey: #dadada;
  --c_deep_blue: #181738;
  --c_deep_turquiose: #103643;
  --c_base_green: #95c11f;
  --c_base_white: #f6f6f6;
  --c_s1_base: #91c1a7;
  --c_s1_secondary: #032238;
  --c_s2_base: #fffae3;
  --c_s2_secondary: #fffae3;
  --c_s3_base: #fffae3;
  --c_s3_secondary: #213a89;
  --c_s4_base: #1d3331;
  --c_s4_secondary: #1d3331;
  --c_s5_base: #f2f2cc;
  --c_s5_secondary: #cec745; }

.justify-center, .page .page-wrapper {
  justify-content: center;
  -ms-flex-pack: center; }

.justify-between {
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.justify-around {
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.justify-end {
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }

.justify-start {
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }

.align-center, .page .page-wrapper, #main_nav .nav_header {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.align-start {
  align-items: flex-start; }

.align-stretch {
  align-items: stretch; }

.flex-column, .page .page-wrapper {
  flex-direction: column; }

.row, .flex-row {
  flex-direction: row; }

.row, .flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

@media (min-width: 0) {
  .justify-xs-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-xs-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-xs-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-xs-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-xs-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-xs-center {
    align-items: center; }

  .align-xs-end {
    align-items: flex-end; }

  .align-xs-start {
    align-items: flex-start; }

  .align-xs-stretch {
    align-items: stretch; }

  .flex-xs-column {
    flex-direction: column; }

  .flex-xs-row {
    flex-direction: row; }

  .flex-xs-wrap {
    flex-wrap: wrap; }

  .flex-xs-nowrap {
    flex-wrap: nowrap; } }
@media (min-width: 576px) {
  .justify-sm-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-sm-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-sm-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-sm-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-sm-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-sm-center {
    align-items: center; }

  .align-sm-end {
    align-items: flex-end; }

  .align-sm-start {
    align-items: flex-start; }

  .align-sm-stretch {
    align-items: stretch; }

  .flex-sm-column {
    flex-direction: column; }

  .flex-sm-row {
    flex-direction: row; }

  .flex-sm-wrap {
    flex-wrap: wrap; }

  .flex-sm-nowrap {
    flex-wrap: nowrap; } }
@media (min-width: 768px) {
  .justify-md-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-md-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-md-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-md-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-md-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-md-center {
    align-items: center; }

  .align-md-end {
    align-items: flex-end; }

  .align-md-start {
    align-items: flex-start; }

  .align-md-stretch {
    align-items: stretch; }

  .flex-md-column {
    flex-direction: column; }

  .flex-md-row {
    flex-direction: row; }

  .flex-md-wrap {
    flex-wrap: wrap; }

  .flex-md-nowrap {
    flex-wrap: nowrap; } }
@media (min-width: 992px) {
  .justify-lg-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-lg-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-lg-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-lg-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-lg-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-lg-center {
    align-items: center; }

  .align-lg-end {
    align-items: flex-end; }

  .align-lg-start {
    align-items: flex-start; }

  .align-lg-stretch {
    align-items: stretch; }

  .flex-lg-column {
    flex-direction: column; }

  .flex-lg-row {
    flex-direction: row; }

  .flex-lg-wrap {
    flex-wrap: wrap; }

  .flex-lg-nowrap {
    flex-wrap: nowrap; } }
@media (min-width: 1200px) {
  .justify-xl-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-xl-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-xl-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-xl-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-xl-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-xl-center {
    align-items: center; }

  .align-xl-end {
    align-items: flex-end; }

  .align-xl-start {
    align-items: flex-start; }

  .align-xl-stretch {
    align-items: stretch; }

  .flex-xl-column {
    flex-direction: column; }

  .flex-xl-row {
    flex-direction: row; }

  .flex-xl-wrap {
    flex-wrap: wrap; }

  .flex-xl-nowrap {
    flex-wrap: nowrap; } }
@media (min-width: 1560px) {
  .justify-xx-center {
    justify-content: center;
    -ms-flex-pack: center; }

  .justify-xx-between {
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .justify-xx-around {
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .justify-xx-end {
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }

  .justify-xx-start {
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }

  .align-xx-center {
    align-items: center; }

  .align-xx-end {
    align-items: flex-end; }

  .align-xx-start {
    align-items: flex-start; }

  .align-xx-stretch {
    align-items: stretch; }

  .flex-xx-column {
    flex-direction: column; }

  .flex-xx-row {
    flex-direction: row; }

  .flex-xx-wrap {
    flex-wrap: wrap; }

  .flex-xx-nowrap {
    flex-wrap: nowrap; } }
.page, #main_nav .nav_list li::after {
  background-repeat: no-repeat; }

#main_nav .nav_list li::after {
  background-size: contain; }

#main_nav .nav_list li::after {
  background-position: center; }

.page {
  background-size: cover;
  background-position: center; }

.container, .container-body, .p-relative, #main_nav .nav_list li, .btn {
  position: relative; }

.p-absolute, .main_header .main_header_deco, #main_nav .nav_list li::after {
  position: absolute; }

.p-fixed, .main_header, .main-pages-footer {
  position: fixed; }

.p-stiky {
  position: -webkit-sticky;
  position: -ms-sticky;
  position: sticky; }

body img, body svg, .container-fluid, .container, .container-body, .d-block, .btn {
  display: block; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-gird {
  display: grid; }

.row, .d-flex, .page .page-wrapper, #main_nav .nav_header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media (min-width: 0) {
  .p-xs-relative {
    position: relative; }

  .p-xs-absolute {
    position: absolute; }

  .p-xs-fixed {
    position: fixed; }

  .p-xs-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-xs-block {
    display: block; }

  .d-xs-none {
    display: none; }

  .d-xs-inline {
    display: inline; }

  .d-xs-inline-block {
    display: inline-block; }

  .d-xs-gird {
    display: grid; }

  .d-xs-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
@media (min-width: 576px) {
  .p-sm-relative {
    position: relative; }

  .p-sm-absolute {
    position: absolute; }

  .p-sm-fixed {
    position: fixed; }

  .p-sm-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-sm-block {
    display: block; }

  .d-sm-none {
    display: none; }

  .d-sm-inline {
    display: inline; }

  .d-sm-inline-block {
    display: inline-block; }

  .d-sm-gird {
    display: grid; }

  .d-sm-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
@media (min-width: 768px) {
  .p-md-relative {
    position: relative; }

  .p-md-absolute {
    position: absolute; }

  .p-md-fixed {
    position: fixed; }

  .p-md-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-md-block {
    display: block; }

  .d-md-none {
    display: none; }

  .d-md-inline {
    display: inline; }

  .d-md-inline-block {
    display: inline-block; }

  .d-md-gird {
    display: grid; }

  .d-md-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
@media (min-width: 992px) {
  .p-lg-relative {
    position: relative; }

  .p-lg-absolute {
    position: absolute; }

  .p-lg-fixed {
    position: fixed; }

  .p-lg-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-lg-block {
    display: block; }

  .d-lg-none {
    display: none; }

  .d-lg-inline {
    display: inline; }

  .d-lg-inline-block {
    display: inline-block; }

  .d-lg-gird {
    display: grid; }

  .d-lg-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
@media (min-width: 1200px) {
  .p-xl-relative {
    position: relative; }

  .p-xl-absolute {
    position: absolute; }

  .p-xl-fixed {
    position: fixed; }

  .p-xl-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-xl-block {
    display: block; }

  .d-xl-none {
    display: none; }

  .d-xl-inline {
    display: inline; }

  .d-xl-inline-block {
    display: inline-block; }

  .d-xl-gird {
    display: grid; }

  .d-xl-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
@media (min-width: 1560px) {
  .p-xx-relative {
    position: relative; }

  .p-xx-absolute {
    position: absolute; }

  .p-xx-fixed {
    position: fixed; }

  .p-xx-stiky {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky; }

  .d-xx-block {
    display: block; }

  .d-xx-none {
    display: none; }

  .d-xx-inline {
    display: inline; }

  .d-xx-inline-block {
    display: inline-block; }

  .d-xx-gird {
    display: grid; }

  .d-xx-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; } }
body img, body svg, .container, .container-body {
  width: 100%; }

.container-fluid, .container, .container-body {
  margin: 0 auto; }

.main_header, .main_header .main_header_deco.h_deco_l, .main_header .main_header_deco.h_deco_r, .main_header .main_header_deco.v_deco_t {
  top: 0; }

.main_header .main_header_deco.v_deco_b, .main-pages-footer {
  top: auto; }

.main_header, .main_header .main_header_deco.h_deco_l, .main_header .main_header_deco.v_deco_b, .main_header .main_header_deco.v_deco_t {
  left: 0; }

.main_header .main_header_deco.h_deco_r, .main-pages-footer {
  left: auto; }

.main_header .main_header_deco.h_deco_l, .main_header .main_header_deco.h_deco_r, .main_header .main_header_deco.v_deco_b, .main-pages-footer {
  bottom: 0; }

.main_header .main_header_deco.v_deco_t {
  bottom: auto; }

.main_header, .main_header .main_header_deco.h_deco_r, .main_header .main_header_deco.v_deco_b, .main_header .main_header_deco.v_deco_t, .main-pages-footer {
  right: 0; }

.main_header .main_header_deco.h_deco_l {
  right: auto; }

body {
  background-color: var(--c_base_white); }
  body, body * {
    font-family: 'Quicksand', sans-serif; }

.container-fluid {
  width: 100%;
  max-width: 100%; }

@media (min-width: 1560px) {
  .container {
    max-width: 1220px; } }
@media (min-width: 992px) {
  .container-body {
    max-width: 920px; } }
@media (min-width: 1560px) {
  .container-body {
    max-width: 1024px; } }

.col {
  padding-right: .75rem;
  padding-left: .75rem; }
  @media (min-width: 992px) {
    .col {
      padding-right: 1.25rem;
      padding-left: 1.25rem; } }

.col {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  flex: 0 0 auto; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  width: 8.33333%;
  flex: 0 0 8.33333%; }

.col-2 {
  width: 16.66667%;
  flex: 0 0 16.66667%; }

.col-3 {
  width: 25%;
  flex: 0 0 25%; }

.col-4 {
  width: 33.33333%;
  flex: 0 0 33.33333%; }

.col-5 {
  width: 41.66667%;
  flex: 0 0 41.66667%; }

.col-6 {
  width: 50%;
  flex: 0 0 50%; }

.col-7 {
  width: 58.33333%;
  flex: 0 0 58.33333%; }

.col-8 {
  width: 66.66667%;
  flex: 0 0 66.66667%; }

.col-9 {
  width: 75%;
  flex: 0 0 75%; }

.col-10 {
  width: 83.33333%;
  flex: 0 0 83.33333%; }

.col-11 {
  width: 91.66667%;
  flex: 0 0 91.66667%; }

.col-12 {
  width: 100%;
  flex: 0 0 100%; }

@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-sm-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }

  .col-sm-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }

  .col-sm-3 {
    max-width: 25%;
    flex: 0 0 25%; }

  .col-sm-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }

  .col-sm-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }

  .col-sm-6 {
    max-width: 50%;
    flex: 0 0 50%; }

  .col-sm-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }

  .col-sm-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }

  .col-sm-9 {
    max-width: 75%;
    flex: 0 0 75%; }

  .col-sm-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }

  .col-sm-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }

  .col-sm-12 {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }

  .col-md-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }

  .col-md-3 {
    max-width: 25%;
    flex: 0 0 25%; }

  .col-md-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }

  .col-md-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }

  .col-md-6 {
    max-width: 50%;
    flex: 0 0 50%; }

  .col-md-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }

  .col-md-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }

  .col-md-9 {
    max-width: 75%;
    flex: 0 0 75%; }

  .col-md-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }

  .col-md-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }

  .col-md-12 {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }

  .col-lg-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }

  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%; }

  .col-lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }

  .col-lg-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }

  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%; }

  .col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }

  .col-lg-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }

  .col-lg-9 {
    max-width: 75%;
    flex: 0 0 75%; }

  .col-lg-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }

  .col-lg-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }

  .col-lg-12 {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xl-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }

  .col-xl-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }

  .col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%; }

  .col-xl-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }

  .col-xl-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }

  .col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%; }

  .col-xl-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }

  .col-xl-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }

  .col-xl-9 {
    max-width: 75%;
    flex: 0 0 75%; }

  .col-xl-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }

  .col-xl-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }

  .col-xl-12 {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (min-width: 1560px) {
  .col-xx-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xx-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }

  .col-xx-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }

  .col-xx-3 {
    max-width: 25%;
    flex: 0 0 25%; }

  .col-xx-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }

  .col-xx-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }

  .col-xx-6 {
    max-width: 50%;
    flex: 0 0 50%; }

  .col-xx-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }

  .col-xx-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }

  .col-xx-9 {
    max-width: 75%;
    flex: 0 0 75%; }

  .col-xx-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }

  .col-xx-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }

  .col-xx-12 {
    max-width: 100%;
    flex: 0 0 100%; } }
.main_header {
  margin: .75rem auto auto .75rem;
  width: calc(100% - 1.5rem);
  z-index: 1;
  padding: .875rem;
  border-radius: .75rem;
  max-width: 350px;
  overflow: hidden;
  background-color: #032238; }
  @media (min-width: 992px) {
    .main_header {
      padding: 1.5rem;
      border-radius: .75rem; } }
  .main_header .main_header_deco {
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: auto;
    width: 100%;
    pointer-events: none;
    user-select: none; }
    .main_header .main_header_deco.v_deco_t, .main_header .main_header_deco.v_deco_b {
      max-height: .75rem;
      max-width: 1.98214rem; }
    .main_header .main_header_deco.h_deco_r, .main_header .main_header_deco.h_deco_l {
      max-width: .75rem;
      max-height: 1.98214rem; }

.main_nav_btn {
  fill: #ffffff; }

.header_logo_color {
  fill: #C19C49; }

.main_header_deco path {
  fill: #C19C49; }

.page {
  padding: calc(50px + 1.75rem) calc(3vw + 2rem) calc(2vh + 2rem); }
  .page .page-wrapper {
    height: 100%;
    width: 100%;
    max-width: 100%; }
    @media (min-width: 992px) {
      .page .page-wrapper {
        max-width: 890px; } }
  .page .index_logo {
    width: 100%;
    max-width: 100%; }
    @media (min-width: 992px) {
      .page .index_logo {
        max-width: 280px; } }
  .page h1.white, .page p.white, .page ul.white li {
    color: var(--c_white); }
  .page h1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem; }
    @media (min-width: 992px) {
      .page h1 {
        font-size: 1.75rem; } }
  .page p {
    font-size: 1rem;
    text-align: center; }
  .page ul {
    list-style: disc;
    padding-left: 1.25rem; }
    .page ul li {
      text-align: left; }

#main_nav .nav_header {
  margin-bottom: .5rem;
  background-color: var(--c_deep_blue); }
  #main_nav .nav_header h1 {
    color: var(--c_white);
    margin: 0 .5rem 0 auto;
    font-weight: 700;
    font-size: 1.25rem; }
#main_nav .nav_list li {
  padding: .75rem 2rem .75rem .5rem;
  color: var(--c_deep_blue); }
  @media (pointer: fine) and (hover: hover) {
    #main_nav .nav_list li:hover {
      color: var(--c_base_green); }
      #main_nav .nav_list li:hover::after {
        content: '';
        width: 1rem;
        height: 1.5rem;
        top: .25rem;
        bottom: .25rem;
        right: .25rem;
        left: auto;
        margin: auto;
        background-image: url("../img/index/bullet.svg"); } }
  #main_nav .nav_list li + li {
    border-top: 1px dotted var(--c_light_grey); }
  #main_nav .nav_list li a {
    color: inherit; }

.main-pages-footer {
  margin: auto 0.75rem calc(.75rem + 28px) auto; }
  @media (min-width: 992px) {
    .main-pages-footer {
      margin: auto .75rem .75rem auto; } }
  .main-pages-footer .sm-item {
    width: 25px;
    height: 25px;
    margin-top: .5rem;
    opacity: .5; }
    @media (pointer: fine) and (hover: hover) {
      .main-pages-footer .sm-item:hover {
        opacity: 1; } }
    @media (min-width: 992px) {
      .main-pages-footer .sm-item {
        margin-top: 0;
        margin-left: .5rem; } }

.btn {
  text-align: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer; }
  .btn img, .btn svg {
    width: 100%;
    height: auto; }

.main_nav_btn {
  width: 1.5rem;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .main_nav_btn {
      width: 2rem; } }

.nav_open {
  margin: 0;
  height: 100%; }

/*# sourceMappingURL=chinampayolo.css.map */
